<app-header></app-header>
<div>
<h4><b>Books World</b></h4>
  <p>
    Private or personal libraries made up of non-fiction and fiction books, (as opposed to the state or institutional
    records kept in archives) first appeared in classical Greece. In the ancient world, the maintaining of a library was
    usually (but not exclusively) the privilege of a wealthy individual. These libraries could have been either private
    or
    public, i.e. for people who were interested in using them. The difference from a modern public library lies in the
    fact
    that they were usually not funded from public sources. </p> <br>
  <p>
    The advent of paperback books in the 20th century led to an explosion of popular publishing. Paperback books made
    owning
    books affordable for many people. Paperback books often included works from genres that had previously been
    published
    mostly in pulp magazines. As a result of the low cost of such books and the spread of bookstores filled with them
    (in
    addition to the creation of a smaller market of extremely cheap used paperbacks) owning a private library ceased to
    be a
    status symbol for the rich.

    In library and booksellers' catalogues, it is common to include an abbreviation such as "Crown 8vo" to indicate the
    paper size from which the book is made.

    When rows of books are lined on a book holder, bookends are sometimes needed to keep them from slanting.</p>

  <h4>Identification and classification</h4>

  <h5><b>ISBN with barcode</b></h5>
  <p>
    During the 20th century, librarians were concerned about keeping track of the many books being added yearly to the
    Gutenberg Galaxy. Through a global society called the International Federation of Library Associations and
    Institutions
    (IFLA), they devised a series of tools including the International Standard Bibliographic Description (ISBD). Each
    book
    is specified by an International Standard Book Number, or ISBN, which is unique to every edition of every book
    produced
    by participating publishers, worldwide. It is managed by the ISBN Society. </p>


  <h5>Books on library shelves and call numbers visible on the spines</h5>
  <p>
    One of the earliest and most widely known systems of cataloguing books is the Dewey Decimal System. Another widely
    known
    system is the Library of Congress Classification system. Both systems are biased towards subjects which were well
    represented in US libraries when they were developed, and hence have problems handling new subjects, such as
    computing,
    or subjects relating to other cultures. Information about books and authors can be stored in
    databases
    like online general-interest book databases. Metadata, which means "data about data" is information about a book.
    Metadata about a book may include its title, ISBN or other classification number (see above), the names of
    contributors
    (author, editor, illustrator) and publisher, its date and size, the language of the text, its subject matter, etc.
  </p>

</div>

