.header-section {
  height: 2em;
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-weight: 600;
  font-size: 2em;
  padding: 10px;
}

mat-toolbar {

  background-color: navy;
  margin-left: 0px;
  margin-top: 0px;
  padding: 5px;
  margin-right: 0px;
  color: whitesmoke;
}
.header{
    margin-left: 74%;
}

.login-register {
  margin-left: 15%;
}

img {
  /*width: 130px;
  height: 60px;
  margin-left: 0px;
  margin-top: 8px;
  margin-bottom: 0px;
  padding: 5px;
  border-radius: 50px;*/
}

input[type=text] {
  margin-top: 2px;
  margin-left: 10px;
  padding: 8px;
  font-size: 15px;
  width: 100%;
  border: 1px solid white;
  background: white;
  box-sizing: border-box;
}

img{
  height: 1.6em;
  width: 1.6em;
}
